#experience {
     background-color: #171717;
}

.mantine-Timeline-itemTitle {
     font-size: 1.4rem;
     font-weight: 650;
     color: #fff;
     margin-bottom: 1rem;
}

.mantine-Badge-root {
     margin-bottom: 0.5rem;
}

.mantine-Accordion-control {
     &:hover {
         background-color: transparent;
     }    

     color: #fff;
}

ul {
     color: white;
     margin-top: -0.5rem;
     margin-bottom: 0.5rem;
}
