#about {
     h2, h3 {
          margin: 0;
          padding: 0;
     }
}

.mantine-Tabs-tab {
     color: white;
     &:hover {
          background-color: transparent;
     } 
}

.mantine-Tabs-tabLabel {
     color: white;
     
}

.mantine-Tabs-tabIcon {
     color: white; 
     
}

.mantine-Tabs-panel {
     color: white;
     text-align: center;
}
